extends ../layout2

block scripts
    script(src="/javascripts/event.js")

block header
    h1= event.title
    div(class="w3-bar w3-grey w3-large")
        a(href=url + "events/event/" + event._id class="w3-button w3-bar-item") Edit Event
        button.w3-button.w3-bar-item(id="delete" value=event._id) Delete Event
        a(href= url + "events" class="w3-button w3-grey w3-bar-item") Back to Events Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    table.w3-table-all.w3-centered
        tr
            th Title
            td= event.title
        tr
            th Description
            if event.desc 
                td(style="white-space:pre")= event.desc
            else
                td ---
        tr
            th Local
            if event.local
                td= event.local
            else
                td ---
        tr
            th Start  
            td #{event.startDate} - #{event.startHour}
        tr
            th End  
            td #{event.endDate} - #{event.endHour}