extends ../layout2

block header
    if userType=="1"
        h1 Admin Area
        div(class="w3-bar w3-grey w3-large")
            a(href=url + "pieces" class="w3-bar-item w3-button") Pieces Management
            a(href=url + "users" class="w3-bar-item w3-button") Users Management
            a(href=url + "articles" class="w3-bar-item w3-button") News Management
            a(href=url + "events" class="w3-bar-item w3-button") Agenda Management
            a(href=url + "entries" class="w3-bar-item w3-button") Support Library Management
            a(href=url + "statistics" class="w3-bar-item w3-button") Statistics
            a(href=url + "users/updPass/" + idU class="w3-bar-item w3-button") Update Password
            a(href=url + "logout" class="w3-bar-item w3-button") Logout
    else
        if userType=="2"
            h1 Producer Area
            div(class="w3-bar w3-grey w3-large")
                a(href=url + "pieces" class="w3-bar-item w3-button") Pieces
                a(href=url + "pieces/ingestion" class="w3-bar-item w3-button") SIP Ingestion
                a(href=url + "articles" class="w3-bar-item w3-button") News
                a(href=url + "events" class="w3-bar-item w3-button") Agenda
                a(href=url + "entries" class="w3-bar-item w3-button") Support Library
                a(href=url + "users/updPass/" + idU class="w3-bar-item w3-button") Update Password
                a(href=url + "logout" class="w3-bar-item w3-button") Logout
        else 
            if userType=="3"
                    h1 Consumer Area
                    div(class="w3-bar w3-grey w3-large")
                        a(href=url + "pieces" class="w3-bar-item w3-button") Pieces
                        a(href=url + "articles" class="w3-bar-item w3-button") News
                        a(href=url + "events" class="w3-bar-item w3-button") Agenda
                        a(href=url + "entries" class="w3-bar-item w3-button") Support Library
                        a(href=url + "users/updPass/" + idU class="w3-bar-item w3-button") Update Password
                        a(href=url + "logout" class="w3-bar-item w3-button") Logout

block body
    if error!=""
        center
            div(class="w3-panel w3-red")
                h3= error
    h2 News
    ul.w3-ul.w3-large.w3-hoverable
        for a in articles
            li 
                p
                    b Title: 
                    a(href= url + "articles/" + a._id) #{a.title}
                p
                    b Subtitle: 
                    if a.subtitle 
                        | #{a.subtitle}
                    else
                        | ---
                p
                    b Date: 
                    | #{a.date}
                p
                    b Authors: 
                    if a.authors[0]
                        - for(var i=0; i<a.authors.length-1; i++)
                            a(href=url + "articles/authors/" + a.authors[i]) #{a.authors[i]}
                            | , 
                        a(href=url + "articles/authors/" + a.authors[a.authors.length-1]) #{a.authors[a.authors.length-1]} 
                    else
                        | ---
                p(style="white-space:pre") #{a.body}
                p
                    b Topics: 
                    if a.topics[0]
                        - for(var i=0; i<a.topics.length-1; i++)
                            a(href=url + "articles/topics/" + a.topics[i]) #{a.topics[i]}
                            | , 
                        a(href=url + "articles/topics/" + a.topics[a.topics.length-1]) #{a.topics[a.topics.length-1]}
                    else
                        | ---