extends ../layout2

block header
    h1 News of #{tag}: #{by}

block body
    .w3-container
        ul.w3-ul.w3-large.w3-hoverable
            for a in articles
                li
                    p
                        b Title: 
                        a(href=url + "articles/" + a._id) #{a.title}
                    p
                        if a.subtitle
                            <b>Subtitle:</b> #{a.subtitle}
                        else
                            <b>Subtitle:</b> ---
                    p <b>Date:</b> #{a.date}
                    p
                        if a.authors[0] 
                            <b>Authors: </b>
                                - for(var i=0; i<a.authors.length-1; i++)
                                    a(href=url + "articles/authors/" + a.authors[i]) #{a.authors[i]}
                                    | , 
                                a(href=url + "articles/authors/" + a.authors[a.authors.length-1]) #{a.authors[a.authors.length-1]}
                        else
                            <b>Authors:</b> ---
                    p(style="white-space:pre") #{a.body}
                    p
                        if a.topics[0]
                            <b>Topics: </b>
                                - for(var i=0; i<a.topics.length-1; i++)
                                    a(href=url + "articles/topics/" + a.topics[i]) #{a.topics[i]}
                                    | , 
                                a(href=url + "articles/topics/" + a.topics[a.topics.length-1]) #{a.topics[a.topics.length-1]} 
                        else
                            <b>Topics:</b> ---

    a(href= url + "articles" class="w3-button w3-grey") Back to News Menu
    br
    br