extends ../layout2

block scripts
    script(src="/javascripts/articleV.js")

block header
    h1= article.title
    
    if article.subtitle
        h3= article.subtitle
    h4 <b>Date:</b> #{article.date}
    
    if article.authors[0] 
        h5 <b>Authors: </b>
            - for(var i=0; i<article.authors.length-1; i++)
                a(href=url + "articles/authors/" + article.authors[i]) #{article.authors[i]}
                | , 
            a(href=url + "articles/authors/" + article.authors[article.authors.length-1]) #{article.authors[article.authors.length-1]}
    else
        h5 <b>Authors:</b> ---

    input(id="article_id" type="hidden" name="_id" value=article._id)    
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "articles/article/" + article._id class="w3-button w3-grey w3-bar-item") Edit Article
        if article.visible
            button(id="invisible" class="w3-button w3-grey w3-bar-item") Make Article Invisible 
        else
            button(id="visible" class="w3-button w3-grey w3-bar-item") Make Article Visible
        a(href= url + "articles" class="w3-button w3-grey w3-bar-item") Back to News Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    br
    div(style="white-space:pre") #{article.body}
    
    if article.topics[0]
        h6 <b>Topics: </b>
            - for(var i=0; i<article.topics.length-1; i++)
                a(href=url + "articles/topics/" + article.topics[i]) #{article.topics[i]}
                | , 
            a(href=url + "articles/topics/" + article.topics[article.topics.length-1]) #{article.topics[article.topics.length-1]} 
    else
        h6 <b>Topics:</b> ---
    br