extends ../layout2

block scripts
    script(src="/javascripts/article.js")

block header
    h3 Update Article
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "articles/" + article._id class="w3-button w3-grey w3-bar-item") Back to Article
        a(href= url + "articles" class="w3-button w3-grey w3-bar-item") Back to News Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    if error!=""
        center
            div(class="w3-panel w3-red")
                h3= error
    form.w3-container(id="formUpdate")
        input(id="article_id" type="hidden" name="_id" value=article._id)
        input.w3-input(type="text" name="title" placeholder="Title" value=article.title required)
        input.w3-input(type="text" name="subtitle" placeholder="Subtitle" value=article.subtitle)
        label Date
        input.w3-input(id="date" type="date" name="date" required value=article.date)
        label Authors
        <fieldset id="authorsZone">
            input.w3-btn.w3-grey(id="addAuthor" type="button" value="Add Author")
            span 
            input.w3-btn.w3-grey(id="removeAuthor" type="button" value="Remove Author")
            br
            for a in article.authors
               br
               input(type="text" name="authors" value=a required)
        </fieldset>
        label Body
        textarea(style="width:100%" name="body" rows="10" required value) #{article.body}
        br
        label Topics
        <fieldset id="topicsZone">
            input.w3-btn.w3-grey(id="addTopic" type="button" value="Add Topic")
            span 
            input.w3-btn.w3-grey(id="removeTopic" type="button" value="Remove Topic")
            br
            for t in article.topics
               br
               input(type="text" name="topics" value=t required)
        </fieldset>        
        br
        if article.visible
            input(type="hidden" name="visible" value="true")
        else
            input(type="hidden" name="visible" value="false")
        input.w3-btn.w3-grey(id="upButton" type="submit" value="Update")
    br