extends ../layout2

block scripts
    script(src="/javascripts/pieces.js")

block header
    h1 Pieces
    div(class="w3-bar w3-grey w3-large")
        if userType=="2"
            a(href= url + "pieces/ingestion" class="w3-button w3-grey w3-bar-item") SIP Ingestion
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    if success!=""
        center
            div(class="w3-panel w3-green")
                h3= success
    if error!=""
        center
            div(class="w3-panel w3-red")
                h3= error
    input(class="w3-input w3-border w3-padding" type="text" placeholder="Search by title pieces.." id="input" onkeyup="filter()")
    br
    ul.w3-ul.w3-large.w3-hoverable(id="pieces")
        for p in pieces
            li
                p
                    b Title: 
                    | #{p.title}
                p
                    b Type: 
                    | #{p.type}
                p
                    a(href=url + "pieces/" + p._id) See more details
    br