extends ../layout2

block scripts
    script(src="/javascripts/piece.js")

block header
    h2= piece.title
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "pieces/export/" + piece._id class="w3-button w3-grey w3-bar-item") Export Piece
        if userType=="1"
            a(href= url + "pieces/piece/" + piece._id class="w3-button w3-bar-item") Edit Piece
            a(href= url + "pieces/addInst/" + piece._id class="w3-button w3-bar-item") Add Instrument
            button.w3-button.w3-bar-item(id="delete") Delete Piece
        if userType=="2"
            a(href= url + "pieces/addInst/" + piece._id class="w3-button w3-bar-item") Add Instrument
        a(href= url + "pieces" class="w3-button w3-grey w3-bar-item") Back to Pieces Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    input(id="piece_id" type="hidden" value=piece._id)
    h4
        b Title: 
        | #{piece.title}
    h4
        b Type: 
        | #{piece.type}
    h4
        b Composer: 
        if piece.composer
            td= piece.composer
        else
            td ---
    h4
        b Arrangement: 
        if piece.arrangement
            td= piece.arrangement
        else
            td ---
    h4
        b Instruments:
    ul.w3-ul.w3-large.w3-hoverable
        for inst in piece.instruments
            li
                p
                    b Name: 
                    | #{inst.name}
                p
                    p
                        b Voice: 
                        if inst.score.voice
                            td= inst.score.voice
                        else
                            td ---
                    p
                        b Clave: 
                        if inst.score.clave
                            td= inst.score.clave
                        else
                            td ---
                    p
                        b Tune: 
                        if inst.score.tune
                            td= inst.score.tune
                        else
                            td ---
                    p
                        a(href=url + "scores/" + piece._id + "/" + inst.score.path) See/Download Score
                if userType == "1" || userType == "2"
                    p
                        a(href=url + "pieces/updInst?idP=" + piece._id + "&idI=" + inst._id class="w3-button w3-grey") Update Instrument
                        span 
                        button.w3-button.w3-grey(id="deleteInst" value=inst._id) Delete Instrument
    br