extends ../layout2

block scripts
    script(src="/javascripts/piece.js")

block header
    h2= piece.title
    div(class="w3-bar w3-grey w3-large")
        a(href= url + "pieces/export/" + piece._id class="w3-button w3-grey w3-bar-item") Export Piece
        a(href= url + "pieces/piece/" + piece._id class="w3-button w3-bar-item") Edit Piece
        button.w3-button.w3-bar-item(id="delete" value=piece._id) Delete Piece
        a(href= url + "pieces" class="w3-button w3-grey w3-bar-item") Back to Pieces Menu
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    h4
        b Title: 
        | #{piece.title}
    h4
        b Type: 
        | #{piece.type}
    h4
        b Composer: 
        if piece.composer
            td= piece.composer
        else
            td ---
    h4
        b Arrangement: 
        if piece.arrangement
            td= piece.arrangement
        else
            td ---
    h4
        b Instruments:
    ul.w3-ul.w3-large.w3-hoverable
        for inst in piece.instruments
            li
                p
                    b Name: 
                    | #{inst.name}
                p
                    p
                        b Voice: 
                        if inst.score.voice
                            td= inst.score.voice
                        else
                            td ---
                    p
                        b Clave: 
                        if inst.score.clave
                            td= inst.score.clave
                        else
                            td ---
                    p
                        b Tune: 
                        if inst.score.tune
                            td= inst.score.tune
                        else
                            td ---
                    p
                        a(href=url + "scores/" + piece._id + "/" + inst.score.path) See/Download Score
    br