extends ../layout2

block scripts
    script(src="/javascripts/users.js")

block header
    h1 Users
    div(class="w3-bar w3-grey w3-large")
        a(href=url + "users/user" class="w3-button w3-grey w3-bar-item") New User
        a(href= url + "main" class="w3-button w3-grey w3-bar-item") Back to Main Menu

block body
    if success!=""
        center
            div(class="w3-panel w3-green")
                h3= success
    if error!=""
        center
            div(class="w3-panel w3-red")
                h3= error
    input(class="w3-input w3-border w3-padding" type="text" placeholder="Search by name of users.." id="input" onkeyup="filter()")

    table.w3-table-all.w3-centered(id="table")
        tr.w3-grey.w3-large
            th Name
            th Email
            th Type
        for u in users
            tr
                td
                    a(href=url + "users/" + u._id) #{u.name}
                td= u.email
                if u.type=="1"
                    td Admin
                if u.type=="2"
                    td Producer
                if u.type=="3"
                    td Consumer
    br